<div class="callout callout--primary">

    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get started</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde repellat veritatis quibusdam sunt nulla optio libero fuga quaerat odit autem dolor neque iure sit possimus totam, quas rerum suscipit consequatur labore voluptatum qui enim distinctio.
                Labore laborum rem fugit eius!</p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>

</div>